<div class="container">
    <button type="button" class="btn btn-primary mt-3" (click)="backtoHome()">Back to Home</button>
    <div class="row">
        <h6 class="text-center">Category: {{pdname}}</h6>
        <div class="col-lg-3 col-md-6 col-12" *ngFor="let data of categories?.products">
            
            <div class="single-product">
                <div class="product-image">
                    <img [src]="data.thumbnail" alt="#" style="width: 333px; height: 220px;">
                    <div class="button">
                        <button (click)="openProductdetailpage(data.id)" class="btn mb-3"><i class="lni lni-item"></i> View</button>
                        <button (click)="addToCart(data)" class="btn"><i class="lni lni-cart"></i> Add to Cart</button>
                    </div>
                </div>
                <div class="product-info">
                    <span class="category">{{data.category}}</span>
                    <h4 class="title">
                        <a href="product-grids.html">{{data.title}}</a>
                    </h4>
                    <ul class="review">
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star"></i></li>
                        <li><span>4.0 Review(s)</span></li>
                    </ul>
                    <div class="price">
                        <span>${{data.price}}</span>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>