<header>

    <!-- Jumbotron -->
  
    <!-- Heading -->
    <div class="bg-primary">
      <div class="container py-4">
        <!-- Breadcrumb -->
        <nav class="d-flex">
          <h6 class="mb-0">
            <a href="" class="text-white-50 z">Home</a>
            <span class="text-white-50 mx-2"> > </span>
            <a (click)="gotocart()" class="text-white-50 z">2. Shopping cart</a>
            <span class="text-white-50 mx-2"> > </span>
            <a  class="text-white z"><u>3. Order info</u></a>
            <span class="text-white-50 mx-2"> > </span>
            <a href="" class="text-white-50 z">4. Payment</a>
          </h6>
        </nav>
        <!-- Breadcrumb -->
      </div>
    </div>
    <!-- Heading -->
  </header>
  
  <section class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 mb-4">
   
  
          <!-- Checkout -->
          <div class="card shadow-0 border" >
            <form action="" [formGroup]="checkoutForm" >
            <div class="p-4">
              <h5 class="card-title mb-3">Checkout Page</h5>
              <div class="row">
                <div class="col-6 mb-3">
                  <p class="mb-0">First name</p>
                  <div class="form-outline">
                    <input type="text" formControlName="firstName" id="typeText" placeholder="Type here" class="form-control" />
                  </div>
                </div>
  
                <div class="col-6">
                  <p class="mb-0">Last name</p>
                  <div class="form-outline">
                    <input formControlName="lastName" type="text" id="typeText" placeholder="Type here" class="form-control" />
                  </div>
                </div>
  
                <div class="col-6 mb-3">
                  <p class="mb-0">Phone</p>
                  <div class="form-outline">
                    <input formControlName="phone" type="tel" id="typePhone" placeholder="+91" class="form-control" />
                  </div>
                </div>
  
                <div class="col-6 mb-3">
                  <p class="mb-0">Email</p>
                  <div class="form-outline">
                    <input formControlName="email" type="email" id="typeEmail" placeholder="example@gmail.com" class="form-control" />
                  </div>
                </div>
              </div>
  
            
              <hr class="my-4" />
  
              <h5 class="card-title mb-3">Shipping info</h5>
  
              <div class="row mb-3">
                <div class="col-lg-12 mb-3">
                  <!-- Default checked radio -->
                  <div class="form-check h-100 border rounded-3">
                    <div class="p-3">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked />
                      <label class="form-check-label" for="flexRadioDefault1">
                        Online Pay <br />
                        <small class="text-muted">3-4 days  </small>
                      </label>
                    </div>
                  </div>
                </div>
           
             
              </div>
  
              <div class="row">
                <div class="col-sm-8 mb-3">
                  <p class="mb-0">Address</p>
                  <div class="form-outline">
                    <input type="text"  formControlName="address" id="typeText" placeholder="Type here" class="form-control" />
                  </div>
                </div>
  
                <div class="col-sm-4 mb-3">
                  <p class="mb-0">City</p>
                  <select class="form-select">
                    <option value="1">Indore</option>
                    <option value="2">Burhanpur</option>
                    <option value="3">Dewas</option>
                  </select>
                </div>
  

              </div>
  
         
  
  
              <div class="float-end">
                
                <button class="btn btn-warning shadow-0 border" type="submit"  (click)="gotopayment()">Continue</button>
              </div>
            </div>
        </form>
          </div>
          <!-- Checkout -->
        </div>
        <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
          <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
            <h6 class="mb-3">Summary</h6>
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2">${{ calculateTotalPrice() }}</p>
            </div>
        
            <div class="d-flex justify-content-between">
              <p class="mb-2">Shipping cost:</p>
              <p class="mb-2">Free</p>
            </div>
            <hr />
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2 fw-bold">${{ calculateTotalPrice() }}</p>
            </div>
  
      
  
            <hr />
            <h6 class="text-dark my-4">Items in cart</h6>
  
            <div class="d-flex align-items-center mb-4" *ngFor="let pdata of data">
              <div class="me-3 position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                  1
                </span>
                <img [src]="pdata.thumbnail" style="height: 96px; width: 96x;" class="img-sm rounded border" />
              </div>
              <div class="">
                <a href="#" class="nav-link">
                  {{pdata.title}} <br />
                  Darkblue color <br>
                  Brand : {{pdata.brand}}
                  quantity : {{pdata.quantity}}
                </a>
                <div class="price text-muted">Total: ${{pdata.price}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
