<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-shop me-2"></i> <strong>USHOP</strong></a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()" [attr.aria-expanded]="!isNavbarCollapsed"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse" [ngClass]="{'show': !isNavbarCollapsed}">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" style="cursor: pointer;" (click)="gotoallproduct()">Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link mx-2 text-uppercase dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a *ngFor="let data of catProd" class="dropdown-item"
                            style="justify-content: center; text-align: center;"
                            (click)="goToCategoriesProductPage(data)">{{data}}</a>
                    </div>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link main-btn" (click)="goToCart()" style="cursor: pointer;" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse.show"><i class="fa-solid fa-cart-shopping me-1"></i> Cart
                        &nbsp; <span class="total-items text-primary">{{pdlen}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" (click)="gotologin()" style="cursor: pointer;"><i
                            class="fa-solid fa-circle-user me-1"></i> Login or Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>