    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 custom-padding-right">
                    <div class="slider-head">
                        <!-- Start Hero Slider -->
                        <div class="hero-slider">
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url(assets/images/hero/slider-bg1.jpg);">
                                <div class="content">
                                    <h2><span>No restocking fee ($35 savings)</span>
                                        M75 Sport Watch
                                    </h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        </p>
                                    <h3><span>Now Only</span> $320.99</h3>
                                    <div class="button">
                                        <a href="product-grids.html" class="btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Slider -->
                            <!-- Start Single Slider -->
                        
                            <!-- End Single Slider -->
                        </div>
                        <!-- End Hero Slider -->
                    </div>
                </div>
             
            </div>
        </div>
    </section>
    <!-- End Hero Area -->
 
    <!-- Start Trending Product Area -->
    <section class="trending-product section" style="margin-top: 12px;">
    
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>All Product</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form.</p>
                    </div>
                    <form [formGroup]="searchForm">
                    <div class="input-group" >
                        <div class="form-outline" data-mdb-input-init>
                          <input type="search" formControlName="searchvalue" placeholder="Search Products" id="form1" class="form-control" />
                        </div>
                        <button type="button" (click)="onSubmit()" class="btn btn-primary" data-mdb-ripple-init>
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </form>
                </div>
            </div>
            <div class="row" *ngIf="!filtereddata">
                <div class="col-lg-3 col-md-6 col-12" *ngFor="let data of productdata.products">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img [src]="data.thumbnail" alt="#" style="width: 333px; height: 220px;">
                            <div class="button">
                                <button (click)="openProductdetailpage(data.id)" class="btn mb-3"><i class="lni lni-item"></i> View</button>
                                <button (click)="addToCart(data)" class="btn"><i class="lni lni-cart"></i> Add to Cart</button>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">{{data.category}}</span>
                            <h4 class="title">
                                <a href="product-grids.html">{{data.title}}</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><span>4.0 Review(s)</span></li>
                            </ul>
                            <div class="price">
                                <span>${{data.price}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                
                    
                    <!-- End Single Product -->
                </div>
            <div class="row" *ngIf="filtereddata">
                <div class="col-lg-3 col-md-6 col-12" *ngFor="let data of filtereddata.products">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img [src]="data.thumbnail" alt="#" style="width: 333px; height: 220px;">
                            <div class="button">
                                <button (click)="openProductdetailpage(data.id)" class="btn mb-3"><i class="lni lni-item"></i> View</button>
                                <button (click)="addToCart(data)" class="btn"><i class="lni lni-cart"></i> Add to Cart</button>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">{{data.category}}</span>
                            <h4 class="title">
                                <a href="product-grids.html">{{data.title}}</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><span>4.0 Review(s)</span></li>
                            </ul>
                            <div class="price">
                                <span>${{data.price}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                
                    
                    <!-- End Single Product -->
                </div>
            </div>
        
    </section>
    <!-- End Trending Product Area -->

 
    <!-- End Call Action Area -->

    <!-- Start Banner Area -->
    <section class="banner section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-banner" style="background-image:url('assets/images/banner/banner-1-bg.jpg')">
                        <div class="content">
                            <h2>Smart Watch 2.0</h2>
                            <p>Space Gray Aluminum Case with <br>Black/Volt Real Sport Band </p>
                            <div class="button">
                                <a href="product-grids.html" class="btn">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-banner custom-responsive-margin"
                        style="background-image:url('assets/images/banner/banner-2-bg.jpg')">
                        <div class="content">
                            <h2>Smart Headphone</h2>
                            <p>Lorem ipsum dolor sit amet, <br>eiusmod tempor
                                incididunt ut labore.</p>
                            <div class="button">
                                <a href="product-grids.html" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!-- Start Shipping Info -->
    <section class="shipping-info">
        <div class="container">
            <ul>
                <!-- Free Shipping -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-delivery"></i>
                    </div>
                    <div class="media-body">
                        <h5>Free Shipping</h5>
                        <span>On order over $99</span>
                    </div>
                </li>
                <!-- Money Return -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-support"></i>
                    </div>
                    <div class="media-body">
                        <h5>24/7 Support.</h5>
                        <span>Live Chat Or Call.</span>
                    </div>
                </li>
                <!-- Support 24/7 -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-credit-cards"></i>
                    </div>
                    <div class="media-body">
                        <h5>Online Payment.</h5>
                        <span>Secure Payment Services.</span>
                    </div>
                </li>
                <!-- Safe Payment -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-reload"></i>
                    </div>
                    <div class="media-body">
                        <h5>Easy Return.</h5>
                        <span>Hassle Free Shopping.</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>